<!doctype html>
<html lang="en">

<head>
    <% include partials/head %>

</head>

<body class="sidebar-mini bg">
    <!-- Preloader -->
    <% include partials/preloader %>
    <!-- Preloader -->

    <!-- ======================================
    ******* Main Page Wrapper **********
    ======================================= -->

    <div class="main-container-wrapper">
        <!-- Top bar area -->
        <% include partials/topbararea %>

        <div class="container-fluid page-body-wrapper">
            <!-- Side Menu area -->
            <% include partials/sidemenuarea %>

            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="container-fluid">
                       <!--  <div class="card mb-30">
                            <div class="card-body">
                                <h5 class="card-title mb-2">Sirmon modal window</h5>

                                <p class="mb-30">Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults. To creata a custom Sirmon modal all you have to do is to add <code>.inmodal</code> class to html modal element.
                                    Modal contains title, content and footer
                                </p> -->

                                <div class=" align-items-left mb-30">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                        Invest Now
                                    </button>
                                </div>
                                <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content animated bounceInRight">
                                            <div class="modal-header">
                                                <h4 class="modal-title d-block">Modal title</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                <div id="demo"></div>

                                                <!--</select>-->
                                                <label for="plan" class="text-sm text-muted">Select plan</label>
                                                <select name="plan" id="plan" class="form-control select1 mb-4">
                                                    <option>Select</option>
                                                    <optgroup label="Starter Plan">
                                                        <option value="starter">Starter Plan - 15% profit After 12 hours</option>
                                                    </optgroup>
                                                    <optgroup label="Professional Plan">
                                                        <option value="professioonal">Professional Plan - 25% profit After 24 hours</option>
                                                    </optgroup>
                                                    <optgroup label="Enterprise Plan">
                                                        <option value="enterprise">Enterprise Plan - 40% profit After 48 hours</option>
                                                    </optgroup>
                                                    <optgroup label="VVIP Plan">
                                                        <option value="vvip">VVIP Plan - 55% profit After 48 hours</option>
                                                    </optgroup>
                                                    <optgroup label="Long term Plan">
                                                        <option value="longterm">Long Term Investment Plan - 80% profit After 7 days</option>
                                                    </optgroup>
                                                    
                                                </select>

                                                <label for="amounttoinvest" class="text-sm text-muted">Amount to invest</label>
                                                <div class="input-group mb-4">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span> 
                                                  </div>
                                                  <input type="number" id="amounttoinvest" min="100" placeholder="0" class="form-control" name="amounttoinvest">
                                                </div>

                                                <button type="button" id="investnow" type="submit" class="btn btn-rounded btn-outline-info mb-2 mr-2">Invest Now</button>
                                            </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div>
                        </div> -->
                        <div class="row">
                            <div class="col-12 col-sm-6 col-xl">
                                <!-- Card -->
                                <div class="card box-margin">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <!-- Title -->
                                                <h6 class="text-uppercase font-14">
                                                    Balance
                                                </h6>

                                                <!-- Heading -->
                                                <span class="font-24 text-dark mb-0">
                                                    $<%= balance %>
                                                </span>
                                            </div>

                                            <div class="col-auto">
                                                <!-- Icon -->
                                                <div class="icon">
                                                    <img src="/img/bg-img/icon-8.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-xl">
                                <!-- Card -->
                                <div class="card box-margin">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <!-- Title -->
                                                <h6 class="font-14 text-uppercase">
                                                    Investments
                                                </h6>
                                                <!-- Heading -->
                                                <span class="font-24 text-dark mb-0">
                                                    $<%= investment %>
                                                </span>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Icon -->
                                                <div class="icon">
                                                    <img src="/img/bg-img/icon-9.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                     
                        </div>
                        <!-- / .row -->

                        <div class="row">
                            

                            <!-- Projects of the Month -->
                            <div class="col-xl-12 mb-30">
                                <div class="card bg-boxshadow full-height">
                                    <div class="card-header bg-transparent user-area d-flex align-items-center justify-content-between">
                                        <h5 class="card-title mb-0">Investment History</h5>
                                        <!-- Nav Tabs -->
                                        <ul class="nav total-earnings nav-tabs mb-0" role="tablist">
                                            <!--<li class="nav-item">-->
                                            <!--    <a class="nav-link active show" id="today-earnings-tab" data-toggle="tab" href="#today-earnings" role="tab" aria-controls="today-earnings" aria-selected="true">Today</a>-->
                                            <!--</li>-->
                                            <!--<li class="nav-item">-->
                                            <!--    <a class="nav-link mr-0" id="month-earnings-tab" data-toggle="tab" href="#month-earnings" role="tab" aria-controls="month-earnings" aria-selected="false">Month</a>-->
                                            <!--</li>-->
                                        </ul>
                                    </div>

                                    <div class="card-body">
                                        <div class="tab-content" id="userList">
                                            <div class="tab-pane fade active show" id="today-earnings" role="tabpanel" aria-labelledby="today-earnings-tab">
                                                <ul class="total-earnings-list">
                                                    <% docs.forEach(function(docs) { %>
                                                        <li>
                                                            <div class="author-info d-flex align-items-center">
                                                                <!--<div class="author-img mr-3">-->
                                                                <!--    <img src="img/member-img/team-4.jpg" alt="">-->
                                                                <!--</div>-->
                                                                <div class="author-text">
                                                                    <h6 class="mb-0"><%= docs.name %></h6>
                                                                    <p class="mb-0"><%= docs.status %></p>
                                                                    <p class="mb-0"><%= docs.date %></p>
                                                                </div>
                                                            </div>
                                                            <span class="badge badge-outline-info badge-pill">$<%= docs.amount %></span>
                                                        </li>
                                                    <% }); %>
                                                </ul>
                                                
                                            </div>

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                    <!-- Footer Area -->
                    <% include partials/footerarea %>
                </div>
            </div>
        </div>
    </div>


    <!-- Plugins Js -->
    <% include partials/jsfiles %>
    
    <script type="text/javascript">
        (function(){
            $('#investnow').click(function(event){
                event.preventDefault()
                console.log('invest')
        
                var values = {
                    plan: $('#plan').val().trim(),
                    amounttoinvest: $('#amounttoinvest').val().trim()
                }
        
                console.log(values)
        
        
                $.ajax({
                    url : '/investments',
                    type: 'POST',
                    data : values,
                    success: function(data, textStatus, jqXHR){
                        console.log(JSON.stringify(data))
                        if (data.confirmation != 'success'){
                            var msg = data.data
                            swal({
                              title: "Error!",
                              text: msg,
                              icon: "warning",
                              button: "Ok!",
                            });
                            // alert('Error: ' + data.message)
                            return
                        }
                        if (data.confirmation === 'success'){
                            console.log(data.data)
        
                            var msg = data.data
                            swal({
                              title: "Investment successful!",
                              text: msg,
                              icon: "success",
                              button: "Ok!",
                            });
        
                            return window.location.href = '/investments'
                        }
                        // window.location.href = '/'
        
                    },
                    error: function (jqXHR, textStatus, err){
                        console.log('Error: ' + err.message)
                    } 
                })
            })
        })()
    </script>

</body>

</html>